.MainTitle{
    align-self: center;
}

.CartContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CartContent{
    min-width: 100%;
}

.SubTitle{
    color: white;
}


.Button{
    text-decoration: none;
    border-radius: 25;
    margin: 0 50px 20px 50px;
    /* TODO */
    width: auto;
    padding: 12px;
    font-size: 12px;
    background: #EBAD17;
    border-radius: 8px;
    flex: none;
    display: flex;
    order: 1;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    border: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
}

.orderInfoContainer{
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 5%;
    background-color: #EBAD17;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: solid 1px black;
}

.orderInfoBuyer{
    background-color: grey;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 1px black;
}

.orderInfoProducts{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}