.cardContainer {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
  color: white;
  margin-bottom: 3%;
  border-radius: 3%;
  border: solid 1px white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardContainer:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.componentsImg {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 3% 3% 0% 0%;
}

.cardInfo {
  padding: 1px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Option{
  background-color: #EBAD17;
  color: black;
  border: 2px solid #555555;
  height: 2rem;
  width: 25%;
  margin-bottom: 2%;
  text-decoration: none;
  padding-left: 2%;
}

.Option:hover{
  color: black;
  background-color: #f3c048;
}